@page "/literaturhatalari"
@using Bitki.Blazor.Models
@inject HttpClient Http

<h3>Literatür Hataları Listesi</h3>

@if (items == null)
{
    <p><em>Yükleniyor...</em></p>
}
else
{
    <p>Kayıt Sayısı: @items.Length</p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hata Adı</th>
                <th>Açıklama</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ErrorName</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private LiteraturHatalariViewModel[]? items;

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetFromJsonAsync<LiteraturHatalariViewModel[]>("api/literaturhatalari");
    }
}