<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bitki.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bitki">
                <span class="bi bi-flower1-nav-menu" aria-hidden="true"></span> Bitkiler
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <span class="text-light small text-uppercase px-3">Taksonomi</span>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="familya">
                <span class="bi bi-diagram-3-fill" aria-hidden="true"></span> Familya
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genus">
                <span class="bi bi-diagram-2-fill" aria-hidden="true"></span> Genus
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <span class="text-light small text-uppercase px-3">Coğrafya</span>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ulke">
                <span class="bi bi-globe" aria-hidden="true"></span> Ülke
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sehir">
                <span class="bi bi-building" aria-hidden="true"></span> Şehir
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ilce">
                <span class="bi bi-geo-alt-fill" aria-hidden="true"></span> İlçe
            </NavLink>
        </div>
    </nav>
</div>